# Partie Serveur REST API

# Virtual environment
serveur_rest_api/venv/
serveur_rest_api/.env

# Compiled Python files
serveur_rest_api/__pycache__/
serveur_rest_api/*.pyc
serveur_rest_api/*.pyo

# Logs
serveur_rest_api/*.logs

# System-specific files
serveur_rest_api/.DS_Store
serveur_rest_api/Thumbs.db

# other
serveur_rest_api/instance/



# Partie Web Mobile
